<section class="section-advantages section">
  <div class="advantages-box container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ol class="advantages-list list">
      <li class="advantages-list-item">
        <p class="adantages-list-number">01</p>
        <p class="advantages-list-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">02</p>
        <p class="advantages-list-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">03</p>
        <p class="advantages-list-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">04</p>
        <p class="advantages-list-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <source
        srcset="
          ../img/desktop_1440/advantages.jpg    1x,
          ../img/desktop_1440/advantages@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ../img/desktop_1280/advantages.jpg    1x,
          ../img/desktop_1280/advantages@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/tablet/advantages.jpg    1x,
          ../img/tablet/advantages@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/mobile/advantages.jpg    1x,
          ../img/mobile/advantages@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="../img/mobile/advantages.jpg"
        alt="yacht picture"
      />
    </picture>
  </div>
</section>
