<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-box">
      <a class="footer-logo link" href="./index.html">yachtjet</a>
      <ul class="footer-menu-list list">
        <li>
          <a class="footer-menu-link link color" href="#about-us">About</a>
        </li>
        <li>
          <a class="footer-menu-link link color" href="#our-yachts">Yachts</a>
        </li>
        <li>
          <a class="footer-menu-link link color" href="#reviews">Reviews</a>
        </li>
      </ul>
      <div class="footer-social">
        <ul class="footer-social-list list">
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="footer-social-link link"
            >
              <svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT/"
              target="_blank"
              class="footer-social-link link"
              ><svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="footer-social-link link"
              ><svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-social-2">
      <ul class="footer-social-list list mobile">
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="footer-social-link link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT/"
            target="_blank"
            class="footer-social-link link"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-social-link link"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="../img//icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-slogan">
        <p class="footer-slogan-text">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable.
        </p>
      </div>
    </div>
    <div class="footer-copyright">
      <ul class="footer-copyright-list">
        <li class="footer-copyright-item"><p>2023. Yacht Adventures</p></li>
        <li class="footer-copyright-item"><p>Privacy Police</p></li>
      </ul>
    </div>
  </div>
</footer>
