<footer class="footer-section">
  <div class="footer-container">     
        <div class="footer-box">
            <a class="footer-logo link" href="./index.html">yachtjet</a>
            <ul class="footer-menu-list list">
             <li>
                <a class="footer-menu-link link color" href="#about">About</a>
             </li>
             <li>
                <a class="footer-menu-link link" href="#yachts">Yachts</a>
              </li>
             <li>
                <a class="footer-menu-link link" href="#reviews">Reviews</a>
             </li>
            </ul>
            <div class="footer-social">
              <ul class="footer-social-list list">
                <li class="footer-social-item">
                  <a
                    href="https://www.instagram.com/goitclub/"
                    target="_blank"
                    class="footer-social-link link"
                    >
                    <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </a>
                </li>
               <li>
                  <a   
                    href="https://www.youtube.com/c/GoIT/"
                    target="_blank"
                    class="footer-social-link link"
                    ><svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </a>
              </li>
              <li>
                  <a
                    href="https://www.facebook.com/goITclub/"
                    target="_blank"
                    class="footer-social-link link"
                    ><svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </a>
              </li>
              </ul>
            </div>
        </div> 
       <div class="footer-box-2"> 
         <div class="footer-social-2">
              <ul class="footer-social-list list">
                <li class="footer-social-item">
                 <a
                  href="https://www.instagram.com/goitclub/"
                  target="_blank"
                  class="footer-social-link link"
                 >
                 <svg class="social-icon" width="24" height="24">
                 <use href="./images/icons.svg#icon-instagram"></use>
                 </a>
                </li>
                <li >
                    <a   
                      href="https://www.youtube.com/c/GoIT/"
                      target="_blank"
                      class="footer-social-link link"
                      ><svg class="social-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-youtube"></use>
                    </a>
                </li>
                <li>
                    <a
                      href="https://www.facebook.com/goITclub/"
                      target="_blank"
                      class="footer-social-link link"
                      ><svg class="social-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </a>
                </li>
              </ul>
         </div>
            <div class="footer-slogan">
             <p class="footer-slogan-text">
                No matter which yacht you
                choose, our experienced crew will
                ensure that your journey is
                smooth and enjoyable.
              </p>
           </div>
           <div class="footer-copyright">
       <ul class="footer-copyright-list">
         <li class="footer-copyright-item"><p>2023. Yacht Adventures</p></li>
         <li class="footer-copyright-item"><p>Privacy Police</p></li>
       </ul>
          </div> 
      </div>
  </div>
</footer>