<header class="container">
  <nav class="header-section-container">
    <a class="logo" href="./index.html"> yachtjet </a>
    <button class="mobile-menu-open-btn" type="button" id="toggleButton">
      <svg
        class="mobile-menu-open-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu open icon"
      >
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <ul class="header-menu-list">
      <li class="header-menu-list-li">
        <a class="header-menu-list-item" href="#about-us">About</a>
      </li>
      <li class="header-menu-list-li">
        <a class="header-menu-list-item" href="#our-yachts">Yachts</a>
      </li>
      <li class="header-menu-list-li">
        <a class="header-menu-list-item" href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="icon-social-header">
      <ul class="icon-list">
        <li>
          <a
            class="icon-list-item"
            href="https://www.instagram.com/goitclub/"
            class="icon-list-item-link"
            target="_blank"
          >
            <svg class="icon-social-list" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="icon-list-item"
            href="https://www.youtube.com/c/GoIT"
            class="icon-list-item-link"
            target="_blank"
          >
            <svg class="icon-social-list" width="24" height="24">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="icon-list-item"
            href="https://www.facebook.com/goITclub/"
            class="icon-list-item-link"
            target="_blank"
          >
            <svg class="icon-social-list" width="24" height="24">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
