<header class="container">
  <div class="header-nav">
    <nav class="header-section-container">
      <a class="logo" href="./index.html"> yachtjet </a>
      <button class="mobile-menu-open-btn" type="button">
        <svg
          class="mobile-menu-open-btn-icon"
          width="28"
          height="28"
          aria-label="mobile menu open icon"
        >
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="header-menu-list">
        <li class="header-menu-list-item"><a href=""></a> About</li>
        <li class="header-menu-list-item"><a href=""></a> Yachts</li>
        <li class="header-menu-list-item"><a href=""></a> Reviews</li>
      </ul>

      <div class="icon-social-header">
        <ul class="icon-list">
          <li class="icon-list-item">
            <a href="" class="icon-list-item-link">
              <svg class="icon-social-list" width="24" height="24">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-list-item">
            <a href="" class="icon-list-item-link">
              <svg class="icon-social-list" width="24" height="24">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="icon-list-item">
            <a href="" class="icon-list-item-link">
              <svg class="icon-social-list" width="24" height="24">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
