<section class="hero">
    <div class="hero-container">
        <h1 class="hero-title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
        <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line
            yachts and embark
            on an
            unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
        <button id="" class="hero-btn" type="button">Yacht rental</button>
    </div>
</section>