<!--MOBILE MENU-->

<div class="mobile-menu-wrapper" id="backdrop">
  <div class="container container-mobile-menu">
    <div class="mobile-menu-header">
      <a class="mobile-menu-header-logo" href="../index.html">yachtjet</a>
      <button class="mobile-menu-close-button" id="close-btn">
        <svg
          class="mobile-menu-close-button-icon"
          width="16"
          height="16"
          aria-label="mobile menu close icon"
        >
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-choice-list">
        <li class="mobile-menu-choice-item">
          <a class="mobile-menu-choice-link" href="#about-us" id="about"
            >ABOUT</a
          >
        </li>
        <li class="mobile-menu-choice-item">
          <a class="mobile-menu-choice-link" href="#our-yachts" id="yachts"
            >YACHTS</a
          >
        </li>
        <li class="mobile-menu-choice-item">
          <a class="mobile-menu-choice-link" href="#reviews" id="review"
            >REVIEWS</a
          >
        </li>
      </ul>
    </nav>
    <ul class="mobile-menu-social-list">
      <li class="mobile-menu-social-list-item">
        <a
          href="./img/icons.svg#icon-instagram"
          class="mobile-menu-social-list-link"
        >
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="icon instagram"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-list-item">
        <a
          href="./img/icons.svg#icon-youtube"
          class="mobile-menu-social-list-link"
        >
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="icon youtube"
          >
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-menu-social-list-link"
        >
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="icon facebook"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
