<!-- Our yachts -->
<section class="our-yachts" id="our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-list-item">
        <picture class="our-yachts-list-item-img">
          <source
            srcset="
              ./img/desktop_1440/arrow.jpg    1x,
              ./img/desktop_1440/arrow@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/desktop_1280/arrow.jpg    1x,
              ./img/desktop_1280/arrow@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/tablet/arrow.jpg 1x, ./img/tablet/arrow@2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mobile/arrow.jpg 1x, ./img/mobile/arrow@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/mobile/arrow.jpg" alt="yacht ARROW" />
        </picture>

        <div class="our-yachts-card">
          <ul class="our-yachts-block-names">
            <li>
              <p class="our-yachts-name">arrow</p>
            </li>
            <li>
              <p class="our-yachts-category">luxury yahts</p>
            </li>
          </ul>
          <p class="vektor"></p>
          
          <div class="our-yachts-block-categories-titles">
            <ul class="our-yachts-block-categories-title">
              <li>
                <p class="our-yachts-block-categories-name">length</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">builder</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">built</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">guests</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">price</p>
              </li>
            </ul>
            <ul class="our-yachts-block-categories-details">
              <li>
                <p class="our-yachts-block-categories-numbers">48m(155ft)</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">Admiral</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">2021</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">
                  11 in 5 cabins
                </p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list-item">
        <picture class="our-yachts-list-item-img">
          <source
            srcset="
              ./img/desktop_1440/benetti.jpg    1x,
              ./img/desktop_1440/benetti@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/desktop_1280/benetti.jpg    1x,
              ./img/desktop_1280/benetti@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/tablet/benetti.jpg 1x, ./img/tablet/benetti@2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mobile/benetti.jpg 1x, ./img/mobile/benetti@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/mobile/arrow.jpg"
            alt="yacht BENETTI"
          />
        </picture>
        <div class="our-yachts-card">
          <ul class="our-yachts-block-names">
            <li>
              <p class="our-yachts-name">benetti oasis 40m bo122</p>
            </li>
            <li>
              <p class="our-yachts-category">luxury yahts</p>
            </li>
          </ul>
          <p class="vektor"></p>
          <div class="our-yachts-block-categories-titles">
            <ul class="our-yachts-block-categories-title">
              <li>
                <p class="our-yachts-block-categories-name">length</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">shipyard</p>
              </li>

              <li>
                <p class="our-yachts-block-categories-name">built</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">guests</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">price</p>
              </li>
            </ul>
            <ul class="our-yachts-block-categories-details">
              <li>
                <p class="our-yachts-block-categories-numbers">41m(133ft)</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">Benetti</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">2025</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">
                  10 in 5 cabins
                </p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">€23,200,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list-item">
        <picture class="our-yachts-list-item-img">
          <source
            srcset="
              ./img/desktop_1440/belle.jpg    1x,
              ./img/desktop_1440/belle@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/desktop_1280/belle.jpg    1x,
              ./img/desktop_1280/belle@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/tablet/belle.jpg 1x, ./img/tablet/belle@2x.jpg.jpg 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mobile/belle.jpg 1x, ./img/mobile/belle@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/mobile/belle.jpg" alt="yacht BELLE ANNA" />
        </picture>
        <div class="our-yachts-card">
          <ul class="our-yachts-block-names">
            <li>
              <p class="our-yachts-name">belle anna</p>
            </li>
            <li>
              <p class="our-yachts-category">luxury yahts</p>
            </li>
          </ul>
          <p class="vektor"></p>
          <div class="our-yachts-block-categories-titles">
            <ul class="our-yachts-block-categories-title">
              <li>
                <p class="our-yachts-block-categories-name">length</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">shipyard</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">built</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">guests</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-name">price</p>
              </li>
            </ul>
            <ul class="our-yachts-block-categories-details">
              <li>
                <p class="our-yachts-block-categories-numbers">50m(155ft)</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">ISA</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">2012</p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">
                  12 in 6 cabins
                </p>
              </li>
              <li>
                <p class="our-yachts-block-categories-numbers">€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent-a-yachts">
      <button class="our-yachts-button" type="button">Yacht rental</button>
    </a>
  </div>
</section>
