<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="review-list">
      <li class="review-list-item">
        <img
          class="review-list-avatar"
          srcset="../img/mobile/John@2x.jpg"
          src="../img/mobile/John.jpg"
          alt="John Wax"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-fullname">John Wax</h3>
        <p class="reviews-list-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>

      <li class="review-list-item item-benetti">
        <img
          class="review-list-avatar"
          srcset="../img/tablet/Victoria@2x.jpg"
          src="../img/tablet/Victoria.jpg"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-fullname">Victoria Romashenko</h3>
        <p class="reviews-list-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>

      <li class="review-list-item item-belle-anna">
        <img
          class="review-list-avatar"
          srcset="../img/desktop_1440/Ihor@2x.jpg"
          src="../img/desktop_1440/Ihor.jpg"
          alt="Ihor Trachuk"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-fullname">Ihor Trachuk</h3>
        <p class="reviews-list-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
