/*
|=========================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=========================================|
*/

/*
|=====================================|
|------|ДЕФОЛТНІ СКИДАННЯ/RESET|------|
|=====================================|
*/
/*скинув маркери*/
.list {
  list-style: none;
}

/* скинув підкреслення */
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/*
|------------COLORS/FONTS/OTHER----------|
|----прописати зрозумілі значення для кольрів:----|
|- CL - колір для тексту;-------------------------------|
|- H - колір для заголовків;----------------------------|
|- P - колір для абзаців;----------------------------|
|- BG - колір для фону;----------------------------------|
*/
:root {
  --color-1: #040306;
  --color-body-bg: #0e1823;
  --color-sec-bg: #1b414b;
  --accent-color-text: #fbfbfb;

  /*fonts*/
  --primary-font: 'Inter', sans-serif;
  --secondary-font: '', sans-serif;
}

/*стилі для приховаих заголовків*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/*
|====================================================|
|============|MOBILE STYLES/advantages|==============|
|====================================================|
*/
@media screen and (max-width: 767px) {
  .section {
  }
  .section-advantages {
  }
  .advantages-box {
  }
  .advantages-title {
  }
  .visually-hidden {
  }
  .advantages-list {
  }
  .advantages-list-item {
  }
  .adantages-list-number {
  }
  .advantages-list-text {
  }
  .advantages-img {
  }
}

/*
|========================================================|
|============|OFF/MOBILE STYLES/advantages|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/advantages|==============|
|====================================================|
*/
@media screen and (min-width: 768px) {
}
/*
|========================================================|
|============|OFF/TABLET STYLES/advantages|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/advantages|==============|
|==========================================================|
*/
@media screen and (min-width: 1280px) {
}
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/advantages|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/advantages|==============|
|==========================================================|
*/
@media screen and (min-width: 1440px) {
}
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/advantages|===========|
|===========================================================|
*/
