.body {
    font-family: Inter, sans-serif;
    background-color: #0E1823;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    padding: 0px 20px;
    margin: 0 auto;
}

section {
    padding: 40px 0px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0px 32px;
    }

    section {
        padding: 75px 0px;
    }

}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        padding: 0px 50px;
    }
}

@media screen and (min-width:1440px) {
    .container {
        max-width: 1440px;
    }
    
}