.header-section-container {
    border: 1px solid #FBFBFB;
    background: #FBFBFB;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 767px) {

    header.container {
        padding-top: 20px;
        padding-bottom: 99px;
    }

    .header-section-container {
        padding-left: 20px;
        padding-right: 20px;
       
    }


    .logo {
        padding-top: 12px;
        padding-bottom: 13px;
        color: #1B414B;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.03px;
    }

    .mobile-menu-open-btn {
        display: flex;
        stroke: #1B414B;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        border: none;
    
    }

        

    .header-menu-list {
        display: none;
        column-gap: 4px;
    }

    .icon-social-header {
        display: none;
    }

}




@media screen and (min-width:768px) {

    header.container {
        padding-top: 32px;
        padding-bottom: 100px;
    }

    .header-section-container {
        padding-left: 28px;
        padding-right: 28px;

    }

    .logo {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #1B414B;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.03em;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .header-menu-list-item {
        border-radius: 8px;
        background: #1B414B80;
        padding: 15px 25px 15px 24px;
        color: #fbfbfb;
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 11.7px */
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-list-item:hover,
    .header-menu-list-item:focus {
        background: #1B414B;
    }

    .header-menu-list {
        display: flex;
        gap: 4px;
    }

    .icon-social-header {
        display: flex;
    }

    .icon-list {
        display: flex;
        gap: 8px;
        
    }

    .icon-social-list{
        fill: #1B414B;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-social-list:hover,
    .icon-social-list:focus {
        fill: #062730;
    }

    .icon-list-item {
        display: flex;
        width: 24px;
        height: 24px;
    }
}


@media screen and (min-width:1280px) {
    .container {
        padding: 0 100px;
    }

    .header-section-container {
        padding-left: 30px;
        padding-right: 30px;

    }
}


@media screen and (min-width:1440px) {
    

    .header-section-container {
        padding-left: 30px;
        padding-right: 30px;

    }
}