/* mobile */

.hero {
    background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/mobile/hero.jpg);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/mobile/hero@2x.jpg)
    }
}

/* tablet */

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/tablet/hero.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/tablet/hero@2x.jpg);
    }
}

/* desktop 1280 */

@media screen and (min-width: 1280px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/desktop_1280/hero.jpg)
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/desktop_1280/hero@2x.jpg);
    }
}

/* tablet 1440 */

@media screen and (min-width: 1440px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/desktop_1440/hero.jpg:)
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .hero {
        background-image: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/desktop_1440/hero@2x.jpg);
    }
}



@media screen and (min-width: 375px) and (max-width: 767px) {

    .hero {
        background-size: 100%;
    }

    .hero-container {
        width: 335px;
        padding-bottom: 257px;
        padding-top: 198px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-title {
        color: #FBFBFB;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 24px;
    }

    .hero-text {
        color: rgba(251, 251, 251, 0.70);
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.16em;
        margin-bottom: 38px;
    }

    .hero-btn {
        display: flex;
        padding: 14px 32px;
        align-items: flex-start;
        color: #FBFBFB;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
        letter-spacing: -0.02em;
        border: none;
        border-radius: 15px;
        background: #1B414B;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btn:hover {
        color: #1B414B;
        background-color: #FBFBFB;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        background-size: 100%;
    }

    .hero-container {
        width: 704px;
        padding-top: 200px;
        padding-bottom: 215px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-title {
        color: #FBFBFB;
        text-align: center;
        font-family: Inter;
        font-size: 70px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 24px;
    }

    .hero-text {
        width: 597px;
        color: rgba(251, 251, 251, 0.70);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btn {
        color: #FBFBFB;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.02em;
        border: none;
        border-radius: 15px;
        background: #1B414B;
        display: flex;
        padding: 16px 40px;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btn:hover {
        color: #1B414B;
        background-color: #FBFBFB;
    }
}

@media screen and (min-width:1280px) {

    .hero {
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .hero-container {
        width: 1001px;
        padding-bottom: 180px;
        padding-top: 155px;
    }

    .hero-title {
        color: #FBFBFB;
        text-align: center;
        font-family: Inter;
        font-size: 80px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 1440px) {}